@media (min-width: 816px) {
.ta_widget_container_desktop{
	height: 0;
    display: inline-block;
    position: absolute;
    margin: auto;
    margin-right: 10px;
}

.widSSP {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.map_widget_container {
	display: inline-block;
	margin-left: 300px;
    margin-top: 18px;
}

.map_and_ta {
	max-width: 800px;
	margin: auto;
}
}

@media(max-width: 815px) {
.ta_widget_container_desktop {
	display: none;
}

.map_and_ta {
	max-width: 500px;
	margin: auto;
}

.map_widget_container {
	display: flex;
	margin-top: 18px;
}
}

.ta_widget_container_desktop {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.map_widget {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.widget_container_container {
/*	background-color: #432818;*/
	background-color: #4C1C00;
	min-height: 750px;	
	margin-top: 159px;
	opacity: .95;
}

.widget_container {
	max-width: 1000px; 
	margin: 0 auto;
/*	background-color: #432818;*/
	background-color: #4C1C00;
	opacity: .95;
}

.widget_titles {
/*	background-color: #CEC03C !important;*/
	background-color: #FAF3DD !important;
	padding-left: 20%;
	background: rgba(211, 208, 203, 0.8);
	margin-bottom: -160px;
    margin-top: 135px;
    opacity: .9;
}

.location {
	display: inline-block;
/*	color: #CEC03C;*/
	color: #FAF3DD;
	padding-bottom: -20px;
	margin: auto;
	background-color: #613E1D;
	padding-left: 44px;
	padding-right: 44px;
	transform: skew(40deg,0deg);
}

h2 {
	transform: skew(-40deg,0deg);	
}


.home_greeting_line_1 {
	padding-top: 35px;
}

.home_greeting {
	padding-left: 8px;
	padding-right: 8px;
}

